<!DOCTYPE html>
<html>
<head>
	<title>Isola</title>
	<link rel="stylesheet" type="text/css" href="public/css/style.css"/>
	<meta charset="utf-8"/>
	<script src="public/js/jquery-2.1.4.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="public/js/socket.js"></script>
</head>
<body>
	<h1>ISOLA</h1>
	<div id="container">
		<div class="pion" id="Blue"></div>
		<div class="pion" id="Red"></div>
		<div class="row">
			<div class="cell" id="0-0"></div>
			<div class="cell" id="0-1"></div>
			<div class="cell" id="0-2"></div>
			<div class="cell" id="0-3"></div>
			<div class="cell" id="0-4"></div>
			<div class="cell" id="0-5"></div>
			<div class="cell" id="0-6"></div>
		</div>
		<div class="row">
			<div class="cell" id="1-0"></div>
			<div class="cell" id="1-1"></div>
			<div class="cell" id="1-2"></div>
			<div class="cell" id="1-3"></div>
			<div class="cell" id="1-4"></div>
			<div class="cell" id="1-5"></div>
			<div class="cell" id="1-6"></div>
		</div>
		<div class="row">
			<div class="cell" id="2-0"></div>
			<div class="cell" id="2-1"></div>
			<div class="cell" id="2-2"></div>
			<div class="cell" id="2-3"></div>
			<div class="cell" id="2-4"></div>
			<div class="cell" id="2-5"></div>
			<div class="cell" id="2-6"></div>
		</div>
		<div class="row">
			<div class="cell" id="3-0"></div>
			<div class="cell" id="3-1"></div>
			<div class="cell" id="3-2"></div>
			<div class="cell" id="3-3"></div>
			<div class="cell" id="3-4"></div>
			<div class="cell" id="3-5"></div>
			<div class="cell" id="3-6"></div>
		</div>
		<div class="row">
			<div class="cell" id="4-0"></div>
			<div class="cell" id="4-1"></div>
			<div class="cell" id="4-2"></div>
			<div class="cell" id="4-3"></div>
			<div class="cell" id="4-4"></div>
			<div class="cell" id="4-5"></div>
			<div class="cell" id="4-6"></div>
		</div>
		<div class="row">
			<div class="cell" id="5-0"></div>
			<div class="cell" id="5-1"></div>
			<div class="cell" id="5-2"></div>
			<div class="cell" id="5-3"></div>
			<div class="cell" id="5-4"></div>
			<div class="cell" id="5-5"></div>
			<div class="cell" id="5-6"></div>
		</div>
		<div class="row">
			<div class="cell" id="6-0"></div>
			<div class="cell" id="6-1"></div>
			<div class="cell" id="6-2"></div>
			<div class="cell" id="6-3"></div>
			<div class="cell" id="6-4"></div>
			<div class="cell" id="6-5"></div>
			<div class="cell" id="6-6"></div>
		</div>
	</div>
</body>
</html>